.category {
    width: 200px;
    position: relative;
    height: calc(100vh - 112px);
    border-radius: 12px !important;
    background-color: white;
    padding: 22px 12px 12px 12px;

    &.open {
        width: 100px;

        .category-div {

            .boxes {
                border: none;

                .box {
                    .title {
                        span {
                            display: none;
                        }
                    }

                    span {
                        display: none;
                    }
                }
            }
        }

    }

    .category-div {

        overflow-y: auto;
        min-height: 600px;
        height: calc(-155px + 100vh);

        &::-webkit-scrollbar {
            display: none;
        }




        .boxes {
            cursor: pointer;

            padding: 10px;
            border: 1px solid #c7c7c7;
            border-radius: 6px;
            margin-bottom: 10px;

            &.active {
                border: 1px solid blue;


                .title {
                    span {
                        color: blue;
                    }
                }

                span {
                    color: blue;
                }


            }

            .box {
                width: 100% !important;
                display: flex;
                justify-content: space-between;
                align-items: center;



                .title {
                    display: flex;
                    align-items: center;

                    img {
                        width: 35px;
                        height: 35px;
                        object-fit: cover;
                        margin-left: 4px;
                        margin-right: 10px;
                    }


                }


            }


        }




    }

    .span {
        border-radius: 50%;
        background-color: white;
        position: absolute;
        padding: 0px 6px;
        top: 50%;
        right: -17px;
        transform: translateY(-50%);
        color: #c7c7c7;
        font-size: 32px;
        font-weight: 700;

    }
}