* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login {
    background-color: #E7E9EF;
    width: 100%;
    height: 100vh;

    position: relative;

    .top-box {
        padding: 38px 35px 0px 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .right {

            .two {
                margin-right: 5px;
            }
        }
    }

    .main {
        width: 64%;
        height: auto;
        margin: 68px auto;
        display: flex;
        justify-content: space-between;

        .boxes {

            .box {
                width: 220px;
                height: 134px;
                background-color: white;
                border-radius: 14px;
                margin: 0px 21px 21px 0px;
                position: relative;

                .text {
                    position: absolute;
                    bottom: 5px;
                    text-align: center;
                    left: 50%;
                    transform: translateX(-50%);

                    p{
                        font-family: SF Pro Display, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 11px;
                        letter-spacing: 0%;
                        display: inline-block;
                        color: black;

                    }
                }
            }
        }

    }

    .bottom {
        display: flex;
        justify-content: flex-end;
        padding: 0px 35px 0px 0px;

        .button {
            border: 1px solid #4E47E5;
            border-radius: 10px;
            padding: 10px 30px;
            color: #4E47E5;
            display: flex;
            align-items: center;

            position: absolute;
            bottom: 22px;
            right: 35px;

            img {
                margin-right: 18px;
            }

            p {
                font-family: SF Pro Display, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
                font-weight: 400;
                font-style: Regular;
                font-size: 15.63px;
                line-height: 100%;
                letter-spacing: 0%;

            }
        }
    }

}